#root {
    height: 100vh;
}

html {
    height: 100%;
}

/* ----------------------------- Top-Level Setup ---------------------------- */
.container-primary {
    width: 100%;
    height: 100%;
    padding: 0 24px;
}

.container-secondary {
    width: 100%;
    height: 100%;
    display: flex;
}

.wsidebar {
    scrollbar-width: thin;
}

.list-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.125rem;
    padding: 12px 24px;
}

.table-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.125rem;
    padding-bottom: 12px;
    padding-top: 12px;
    cursor: pointer;
}

.table {
    display: flex;
    //float: left;
    width: 100%;
    flex-direction: column;
    //align-items: center;
}

.table-entries {
    overflow-y: scroll;
}

.table-header {
    width: calc(100% - 56px);
    box-sizing: border-box;
    margin-left: 24px;
    margin-right: 32px;
}

.table-header-section {
    width: 100%;
    height: 100%;
    padding: 0;
    padding-top: 24px;
    padding-bottom: 12px;
}

.table-header-button {
    padding: 0;
    margin-left: 36px;
}

.table-header-button-disabled {
    padding: 0;
    margin-left: 12px;
    cursor: default;
}

.table-header-buttons {
    height: 100%;
    display: flex;
    align-items: center;
}

.table-entry-buttons {
    padding: 0;
    margin-left: 18px;
    margin-right: 18px;
}

.table-entry {
    width: 700px;
    //padding: 12px 24px;
    //padding: 12px 0;
}

.button-group {
    height: 100%;
    display: flex;
    align-items: center;
}

.sidebar-header {
    width: calc(100% - 48px);
    box-sizing: border-box;
    margin-left: 24px;
    margin-right: 24px;
    padding-top: 24px;
    padding-bottom: 12px
}

.sidebar-options {
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    column-gap: 0.5rem;
}

.sidebar-buttons {
    padding: 0;
}

.modal-input {
    bottom: 4
    0px;
    left: 100px;
    width: 85%;
}

.login-modal {
    width: 700px;
}

.signup-modal {
    width: 700px;
}

.modal-col-gap{
    column-gap: 24px;
}

.modal-button {
    background-color: #bababa;
    color: black;
    text-transform: uppercase;
    text-align: center;
}

.modal-button-login{
    left: 100px;
    padding-left: 70px;
    padding-right: 70px;
    font-weight: bold;
    letter-spacing: 1px;
    width: 200px;
    height: 35px;
}

.modal-button-CA, .modal-button-UA{
    left: 40px;
    font-weight: bold;
    padding-left: 70px;
    padding-right: 70px;
    letter-spacing: 1px;
    width: 290px;
    height: 35px;
    bottom: 10px;
}

.modal-button-UA{
    padding-left: 110px;
    padding-right: 110px;
}

.modal-button-cancel-CA, .modal-button-cancel-UA{
    left: 90px;
    bottom: 10px;
    padding-left: 110px;
    padding-right: 110px;
    font-weight: bold;
    letter-spacing: 1px;
    width: 290px;
    height: 35px;
}

.modal-button-cancel-L{
    left: 150px;
    padding-left: 70px;
    padding-right: 70px;
    font-weight: bold;
    letter-spacing: 1px;
    width: 200px;
    height: 35px;
}

.modal-spacer {
    height: 24px;
}

.main-login-modal {
    padding: 24px 24px 0px 24px;
}

.modal-error {
    height: 24px;
    align-items: center;
    display: flex;
}

.delete-modal {
    width: fit-content;
}

.col-spacer {
    width: 24px;
    display: inline-block;
}

.wsidebar {
    overflow-y: scroll;
}

.add-Button{
    position: absolute;
    right: 10px;
}

.logo{
    width: 150px;
    text-align: center;
}

.pre-login{
    position: fixed;
    text-align: center;
    width: 30%;
    left: 35%;
    bottom: 80px;
}

.modal-header{
    text-align: center;
}

.modal-email-word, .modal-password-word, .modal-name-word{
    font-size: 20px;
    position: relative;
    top: 35px;
}

.modal-email-word{
    left: 40px;
}

.modal-name-word{
    left: 35px;
}

.Map-Select-Screen-Header{
    padding-bottom: 12px;
    padding-top: 12px;
    font-size: 35px;
    color: white;
    background-color: gray;
    text-align: center;
}

.Map-Select-Screen-Side{
    width: 60vm;
}

.Map-Select-Screen-Main{
    width: 40vm;
}

.Create-New-Map{
    bottom: 0;
    right: 0;
    width: 45%;
    height: 10%;
    padding-left: 15%;
    padding-right: 10%;
}
